<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hongYi.h5container">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

<!--    <uses-sdk-->
<!--        android:minSdkVersion="21"-->
<!--        android:targetSdkVersion="30"-->
<!--        tools:overrideLibrary="com.hongYi.h5container"/>-->


    <application>
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />

        <activity
            android:name=".ui.WebViewActivity$Small1"
            android:process=":app_small1"
            android:launchMode="singleTask"
            android:taskAffinity=".small1" />

        <activity
            android:name=".ui.WebViewActivity$Small2"
            android:process=":app_small2"
            android:launchMode="singleTask"
            android:taskAffinity=".small2" />

        <activity
            android:name=".ui.WebViewActivity$Small3"
            android:process=":app_small3"
            android:launchMode="singleTask"
            android:taskAffinity=".small3" />

        <activity
            android:name=".ui.WebViewActivity$Small4"
            android:process=":app_small4"
            android:launchMode="singleTask"
            android:taskAffinity=".small4" />

        <activity
            android:name=".ui.WebViewActivity"
            android:process=":webview"
            android:launchMode="singleTask"
            android:taskAffinity=".webview" />

        <service android:name=".main.MainCommandService" />



    </application>


</manifest>
